Integration Telegram Bot.blueprint_improved.json
{
    "name": "Integration Telegram Bot",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2637468
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "nutriplaner_bot"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 103268
            },
            "mapper": {
                "key": "{{1.message.chat.id}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 288,
                    "y": -7,
                    "messages": [
                        {
                            "category": "share",
                            "severity": "warning",
                            "message": "This module may contain parts which cannot be shared completely."
                        }
                    ]
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "users"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "chat_id",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "state",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "goal",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "gender",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "age",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "weight",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "height",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "activity",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "restrictions",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "preferences",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "calories_target",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 563,
                    "y": 4
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "",
                                    "goal": "",
                                    "state": "goal",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{1.message.chat.id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": -904,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844734
                            },
                            "mapper": {
                                "text": "Привет! 👋 Я — твой персональный нутрициолог-бот.\n\nЯ помогу тебе составить сбалансированный рацион, который будет учитывать твой график, параметры и пищевые привычки.\r\n\r\nСейчас я задам несколько коротких вопросов (цель, рост, вес, активность).\r\nНа их основе я рассчитаю личную норму калорий и сгенерирую для тебя подробный план питания со списком покупок. \nКакая у тебя цель? (в ответе пиши цифру: 1/2/3)\n\n1️⃣ Похудение\n2️⃣ Поддержание\n3️⃣ Набор массы",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1429,
                                    "y": -709
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 26,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "goal",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "",
                                    "goal": "{{1.message.text}}",
                                    "state": "gender",
                                    "gender": "",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": -604,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 28,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Назови свой пол: \n1️⃣ Мужчина\n2️⃣ Женщина",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1400,
                                    "y": -422
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "age",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "{{1.message.text}}",
                                    "goal": "{{5.goal}}",
                                    "state": "weight",
                                    "gender": "{{5.gender}}",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 963,
                                    "y": -110,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Какой у тебя вес (кг)?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1439,
                                    "y": 5
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 35,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "weight",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "height",
                                    "gender": "{{5.gender}}",
                                    "height": "",
                                    "weight": "{{1.message.text}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 909,
                                    "y": 90,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Какой у тебя рост (см)?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1421,
                                    "y": 263
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 40,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "height",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "activity",
                                    "gender": "{{5.gender}}",
                                    "height": "{{1.message.text}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 889,
                                    "y": 379,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 41,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Насколько ты физически активен?\n(напиши цифру)\n\n1️⃣ Низкая активность — почти нет спорта, сидячая работа\n2️⃣ Лёгкая активность — 1–3 тренировки в неделю\n3️⃣ Средняя активность — 4–6 тренировок в неделю\n4️⃣ Высокая активность — спорт почти каждый день\n5️⃣ Очень высокая — интенсивные тренировки / физическая работа",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1183,
                                    "y": 391
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 42,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "preferences",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "restrictions",
                                    "gender": "{{5.gender}}",
                                    "height": "{{5.height}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "{{5.activity}}",
                                    "preferences": "{{1.message.text}}",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 824,
                                    "y": 907,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "preferences",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 43,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Есть ли у тебя пищевые ограничения?\n(можешь написать номер или текст)\n\n1️⃣ Нет ограничений\n2️⃣ Вегетарианство\n3️⃣ Веганство\n4️⃣ Без лактозы\n5️⃣ Без глютена\n6️⃣ Другое (напиши текстом)",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1436,
                                    "y": 883
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 49,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "restrictions",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{switch(5.goal; 1; \"Похудение\"; 2; \"Поддержание\"; 3; \" Набор массы\")}}",
                                    "state": "done",
                                    "gender": "{{switch(5.gender; 1; \"Мужчина\"; 2; \"Женщина\")}}",
                                    "height": "{{5.height}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "{{switch(5.activity; 1; \"Низкая активность — почти нет спорта, сидячая работа\"; 2; \"Лёгкая активность — 1–3 тренировки в неделю\"; 3; \"Средняя активность — 4–6 тренировок в неделю\"; 4; \" Высокая активность — спорт почти каждый день\"; 5; \" Очень высокая — интенсивные тренировки / физическая работа\")}}",
                                    "preferences": "{{5.preferences}}",
                                    "restrictions": "{{switch(1.message.text; 1; \"Нет ограничений\"; 2; \"Вегетарианство\"; 3; \" Веганство\"; 4; \" Без лактозы\"; 5; \" Без глютена\"; 6; 1.message.text)}}",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 393,
                                    "y": 1010,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "preferences",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 52,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5831230
                            },
                            "mapper": {
                                "model": "llama-3.3-70b-versatile",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Ты — помощник-нутрициолог.\r\n\r\nВерни только валидный JSON-объект без пояснений до и после JSON.\r\n\r\nJSON должен содержать ровно 2 поля:\r\n1. \"calories_target\" — целое число, целевая дневная калорийность.\r\n2. \"summary\" — короткий связный текст на русском языке из 1–3 предложений.\r\n\r\nПравила:\r\n- summary должен быть понятным и естественным для пользователя;\r\n- summary должен кратко описывать цель, ориентировочную калорийность и то, что рацион будет составлен с учетом параметров пользователя;\r\n- не добавляй никаких дополнительных полей;\r\n- ответ должен быть только JSON."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Составь для меня персональный план питания.\r\n\r\nМои параметры:\r\n- Цель: {{5.goal}}\r\n- Пол: {{5.gender}}\n- Возраст: {{5.age}} лет\r\n- Вес:{{5.weight}} кг\r\n- Рост: {{5.height}} см\r\n- Уровень активности: {{5.activity}}\r\n- Пищевые ограничения (строго нельзя): {{5.restrictions}}\n- Пищевые антипатии (желательно исключить из рациона): {{5.preferences}}"
                                    }
                                ],
                                "max_tokens": "2500",
                                "temperature": "0.5",
                                "response_format": "json_object"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 710,
                                    "y": 1169
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.3-70b-versatile"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "JSON Format"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 53,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": 334666
                            },
                            "mapper": {
                                "json": "{{52.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1060,
                                    "y": 1238
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "chat_id"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "chat_id",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "state",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "goal",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "gender",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "age",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "weight",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "height",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "activity",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "restrictions",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "preferences",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "calories_target",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "summary",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 54,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "🔥Твоя дневная норма калорий:{{53.calories_target}} \n{{53.summary}}\n\nСейчас подготовлю подробный план питания на неделю. 🤖💭\n\nЧтобы пройти анкету заново, отправь /start",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "Markdown",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1448,
                                    "y": 1262
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 60,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5831230
                            },
                            "mapper": {
                                "model": "llama-3.3-70b-versatile",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Ты — профессиональный диетолог-нутрициолог. Твоя задача — составлять подробные и сбалансированные планы питания на неделю.\r\n\r\nТвой ответ должен быть обычным текстом на русском языке, хорошо структурированным для отображения в Telegram. Не используй JSON.\r\n\r\nВАЖНО:\r\n- не пиши текст одним абзацем;\r\n- используй пустую строку между смысловыми блоками;\r\n- каждый прием пищи пиши с новой строки;\r\n- список покупок оформи отдельным блоком;\r\n- не используй markdown code block;\r\n- делай текст визуально читаемым в Telegram;\r\n- не добавляй никакого текста вне указанных ниже блоков;\r\n- каждый блок начинай строго с указанного разделителя;\r\n- не изменяй текст разделителей, пиши их точно как указано.\r\n\r\nСтруктура ответа должна быть строго такой:\r\n\r\n===РЕКОМЕНДАЦИИ===\r\n**Краткие рекомендации**\r\nпункт 1\r\nпункт 2\r\nпункт 3\r\n\r\n===ПОНЕДЕЛЬНИК===\r\n**Понедельник**\r\nЗавтрак: ...\r\nОбед: ...\r\nУжин: ...\r\nПерекус 1: ...\r\nПерекус 2: ...\r\nИтого за день: ...\r\n\r\n===ВТОРНИК===\r\n**Вторник**\r\n...\r\n\r\n===СРЕДА===\r\n**Среда**\r\n...\r\n\r\n===ЧЕТВЕРГ===\r\n**Четверг**\r\n...\r\n\r\n===ПЯТНИЦА===\r\n**Пятница**\r\n...\r\n\r\n===СУББОТА===\r\n**Суббота**\r\n...\r\n\r\n===ВОСКРЕСЕНЬЕ===\r\n**Воскресенье**\r\n...\r\n\r\n===ПОКУПКИ===\r\n**Список покупок**\r\n- ...\r\n- ...\r\n- ...\r\n\r\nОграничения являются строгими.\r\nЕсли указано:\r\n- без лактозы → нельзя использовать молочные продукты\r\n- без глютена → нельзя использовать пшеницу\r\n- вегетарианство → нельзя мясо и рыбу\r\n\r\nНикогда не добавляй запрещенные продукты.\r\nЕсли продукт нарушает ограничения — замени его альтернативой.\r\n\r\nДля каждого приема пищи указывай:\r\n- название блюда\r\n- список ингредиентов\r\n- граммовку каждого ингредиента\r\n- калории\r\n- КБЖУ\r\n\r\nВ конце каждого дня укажи суммарное КБЖУ.\r\n\r\nПлан должен быть близок к переданной целевой дневной калорийности.\r\nДопустимое отклонение: не более ±5%.\n\nОтвет должен быть не длиннее 8000 символов. \r\nЕсли текст получается слишком длинным, сокращай описание внутри секций, но не пропускай ни одной секции. Не более 800–1000 символов на одну секцию. Никогда не обрывай ответ до ===ПОКУПКИ===. Если нужно, делай секции короче, но чтобы они оставались цельными по смылсу."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Составь для меня персональный план питания.\r\n\r\nМои параметры:\r\n- Цель: {{5.goal}}\r\n- Пол: {{5.gender}}\n- Возраст: {{5.age}} лет\r\n- Вес:{{5.weight}} кг\r\n- Рост: {{5.height}} см\r\n- Уровень активности: {{5.activity}}\r\n- Пищевые ограничения (строго нельзя): {{5.restrictions}}\n- Пищевые антипатии (желательно исключить из рациона): {{5.preferences}}\n- Целевая калорийность: {{53.calories_target}}"
                                    }
                                ],
                                "max_tokens": "3000",
                                "temperature": "0.7",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1784,
                                    "y": 1221
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.3-70b-versatile"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            },
                                            "label": "My Groq connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 63,
                            "module": "regexp:AdvancedParser",
                            "version": 1,
                            "parameters": {
                                "global": true,
                                "multiline": false,
                                "sensitive": true,
                                "singleline": true,
                                "advancedParser": true,
                                "continueWhenNoRes": false,
                                "ignoreInfiniteLoopsWhenGlobal": false
                            },
                            "mapper": {
                                "text": "{{60.result}}",
                                "pattern": "===([^=]+)===\\s*([\\s\\S]*?)(?=\\n===|$)"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2146,
                                    "y": 1195
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "advancedParser",
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "ignoreInfiniteLoopsWhenGlobal",
                                        "type": "boolean",
                                        "label": "Ignore errors when there is an infinite search loop",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 61,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "{{63.value}}\n\n{{63.name}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "Markdown",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2528,
                                    "y": 1141
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 55,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "gender",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "",
                                    "goal": "{{5.goal}}",
                                    "state": "age",
                                    "gender": "{{1.message.text}}",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 944,
                                    "y": -334,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 57,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Сколько тебе лет?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1535,
                                    "y": -186
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 58,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 103268
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "activity",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "/start",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "preferences",
                                    "gender": "{{5.gender}}",
                                    "height": "{{5.height}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "{{1.message.text}}",
                                    "preferences": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 879,
                                    "y": 610,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "gender",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "preferences",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 59,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5844711
                            },
                            "mapper": {
                                "text": "Есть ли продукты, которые вы не любите или хотите исключить?\nНапример:\n• рыба\n• грибы\n• брокколи\n• острые блюда\n\nМожно перечислить несколько продуктов через запятую.\nЕсли ограничений нет — напишите \"нет\".",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1386,
                                    "y": 617
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutriplaner_bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}