Integration Telegram Bot.blueprint.json
{
    "name": "Integration Telegram Bot",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2604616
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "nutrihelper_bot"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 101832
            },
            "mapper": {
                "key": "{{1.message.chat.id}}",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 288,
                    "y": -7,
                    "messages": [
                        {
                            "category": "share",
                            "severity": "warning",
                            "message": "This module may contain parts which cannot be shared completely."
                        }
                    ]
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "users"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "chat_id",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "state",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "goal",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "age",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "weight",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "height",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "activity",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "restrictions",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "calories_target",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 575,
                    "y": -4
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.chat_id}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{1.message.chat.id}}",
                                "data": {
                                    "age": "",
                                    "goal": "",
                                    "state": "{{5.goal}}",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": -904,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5713112
                            },
                            "mapper": {
                                "text": "Привет! 👋 Я — твой персональный нутрициолог-бот.\n\nЯ помогу тебе составить сбалансированный рацион, который будет учитывать твой график, параметры и пищевые привычки.\r\n\r\nСейчас я задам несколько коротких вопросов (цель, рост, вес, активность).\r\nНа их основе я рассчитаю личную норму калорий и сгенерирую для тебя подробный план питания со списком покупок. \nКакая у тебя цель? (в ответе пиши цифру: 1/2/3)\n\n1️⃣ Похудение\n2️⃣ Поддержание\n3️⃣ Набор массы",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1429,
                                    "y": -709
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutrihelper-bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 26,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "{{5.goal}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": " {{1.message.message_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{5.state}}= {{5.goal}}",
                                "data": {
                                    "age": "",
                                    "goal": " {{1.message.text}}",
                                    "state": "{{5.age}}",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": -604,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 28,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5713112
                            },
                            "mapper": {
                                "text": "Сколько тебе лет?",
                                "chatId": " {{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1400,
                                    "y": -422
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutrihelper-bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "{{5.age}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.message_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{5.state}}={{5.age}}",
                                "data": {
                                    "age": "{{1.message.text}}",
                                    "goal": "{{5.goal}}",
                                    "state": "{{5.weight}}",
                                    "height": "",
                                    "weight": "",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": -304,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5713112
                            },
                            "mapper": {
                                "text": "Какой у тебя вес (кг)?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1442,
                                    "y": -72
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutrihelper-bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 35,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "{{5.weight}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.message_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{5.state}}= {{5.weight}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "{{5.height}}",
                                    "height": "",
                                    "weight": "{{1.message.text}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": -4,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5713112
                            },
                            "mapper": {
                                "text": "Какой у тебя рост (см)?",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1421,
                                    "y": 263
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutrihelper-bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 40,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "{{5.height}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.message_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{5.state}}= {{5.height}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "{{5.activity}}",
                                    "height": "{{1.message.text}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": 296,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 41,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5713112
                            },
                            "mapper": {
                                "text": "Насколько ты физически активен?\n(напиши цифру)\n\n1️⃣ Низкая активность — почти нет спорта, сидячая работа\n2️⃣ Лёгкая активность — 1–3 тренировки в неделю\n3️⃣ Средняя активность — 3–5 тренировок в неделю\n4️⃣ Высокая активность — спорт почти каждый день\n5️⃣ Очень высокая — интенсивные тренировки / физическая работа",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1297,
                                    "y": 554
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutrihelper-bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 42,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "{{5.activity}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.message_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{5.state}}= {{5.activity}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "{{5.restrictions}}",
                                    "height": "{{5.height}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "{{1.message.text}}",
                                    "restrictions": "",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 875,
                                    "y": 596,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 43,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5713112
                            },
                            "mapper": {
                                "text": "Есть ли у тебя пищевые ограничения или особые предпочтения?\n(можешь написать номер или текст)\n\n1️⃣ Нет ограничений\n2️⃣ Вегетарианство\n3️⃣ Веганство\n4️⃣ Без лактозы\n5️⃣ Без глютена\n6️⃣ Другое (напиши текстом)",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1158,
                                    "y": 838
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "nutrihelper-bot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 49,
                            "module": "datastore:UpdateRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 101832
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.state}}",
                                            "b": "{{5.restrictions}}",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{1.message.message_id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{5.state}}={{5.restrictions}}",
                                "data": {
                                    "age": "{{5.age}}",
                                    "goal": "{{5.goal}}",
                                    "state": "{{5.restrictions}}",
                                    "height": "{{5.height}}",
                                    "weight": "{{5.weight}}",
                                    "chat_id": "{{5.chat_id}}",
                                    "activity": "{{5.activity}}",
                                    "restrictions": "{{1.message.text}}",
                                    "calories_target": ""
                                },
                                "upsert": true,
                                "overwriteArrays": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 629,
                                    "y": 919,
                                    "messages": [
                                        {
                                            "category": "share",
                                            "severity": "warning",
                                            "message": "This module may contain parts which cannot be shared completely."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "upsert": {
                                            "mode": "chose"
                                        },
                                        "overwriteArrays": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "users"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "upsert",
                                        "type": "boolean",
                                        "label": "Insert missing record",
                                        "required": true
                                    },
                                    {
                                        "name": "overwriteArrays",
                                        "type": "boolean",
                                        "label": "Overwrite an existing array in the record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "chat_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "goal",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "age",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "weight",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "height",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "activity",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "restrictions",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "calories_target",
                                                "type": "number",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 52,
                            "module": "groq:chatCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5753996
                            },
                            "mapper": {
                                "model": "llama-3.3-70b-versatile",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "Ты — профессиональный диетолог-нутрициолог. Твоя задача — составлять подробные и сбалансированные планы питания на неделю.\r\n\r\nВАЖНО: Твой ответ должен быть ТОЛЬКО валидным JSON-объектом без каких-либо пояснений, вступлений или заключений. Не добавляй текст до или после JSON.\r\n\r\nJSON должен содержать ровно два поля:\r\n1. \"calories_target\" — число (целевая дневная калорийность, округлённая до целых).\r\n2. \"meal_plan\" — строка с подробным планом питания, отформатированная с использованием Markdown (для красивого отображения в Telegram). В этой строке обязательно должны быть:\r\n   - Краткие рекомендации по питанию\r\n   - Рацион на каждый день недели (Пн–Вс) с указанием завтрака, обеда, ужина и двух перекусов. Для каждого приёма пищи указывай примерные порции.\r\n   - Общий список покупок на неделю (перечень продуктов).\r\n\r\nПример структуры JSON (не копируй этот план, создай свой на основе параметров пользователя):\r\n{\r\n  \"calories_target\": 2000,\r\n  \"meal_plan\": \"**Рекомендации:** ...\\n\\n**Понедельник:**\\n- Завтрак: ...\\n- Обед: ...\\n- Ужин: ...\\n- Перекус 1: ...\\n- Перекус 2: ...\\n\\n**Вторник:**\\n...\\n\\n**Список покупок:**\\n- ...\"\r\n}\r\n​"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Составь для меня персональный план питания.\r\n\r\nМои параметры:\r\n- Цель: {{5.goal}}\r\n- Возраст: {{5.age}} лет\r\n- Вес:{{5.weight}} кг\r\n- Рост: {{5.height}} см\r\n- Уровень активности: {{5.activity}}\r\n- Пищевые ограничения: {{5.restrictions}}"
                                    }
                                ],
                                "max_tokens": "2500",
                                "temperature": "0.7",
                                "response_format": "json_object"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 882,
                                    "y": 1128
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Groq connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "groq"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "llama-3.3-70b-versatile"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "JSON Format"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:groq",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "System",
                                                        "value": "system"
                                                    },
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Assistant",
                                                        "value": "assistant"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max tokens returned"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "number",
                                        "label": "Seed"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 53,
                            "module": "json:ParseJSON",
                            "version": 1,
                            "parameters": {
                                "type": 329251
                            },
                            "mapper": {
                                "json": "{{52.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1182,
                                    "y": 1128
                                },
                                "restore": {
                                    "parameters": {
                                        "type": {
                                            "label": "My data structure"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "type",
                                        "type": "udt",
                                        "label": "Data structure"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "json",
                                        "type": "text",
                                        "label": "JSON string",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "chat_id",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "state",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "goal",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "age",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "weight",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "height",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "help": "",
                                        "name": "activity",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "restrictions",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "help": "",
                                        "name": "calories_target",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 54,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5506221
                            },
                            "mapper": {
                                "text": "{{`53`}}{{53.calories_target}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1482,
                                    "y": 1128
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}